* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #ebebeb;
	overflow-x: hidden;
}

.header {
	width: 100%;
	height: 50px;
	background-color: cadetblue;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header > .burger-menu__nav > .burger-menu__link {
	float: left;
	width: 16.66vw;
	height: 100%;
	position: relative;
}

.header > nav > .burger-menu__link {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 50px;
	color: white;
	transition: background-color 0.2s ease;
	text-transform: uppercase;
}

.burger-menu__link-item {
	display: none;
	overflow: hidden;
	background-color: white;
	position: absolute;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	padding: 1px;
}

.header > nav > .burger-menu__link:not(:first-of-type):not(:last-of-type) > .burger-menu__link-item {
	left: -100%;
	border-radius: 0 0 3px 3px;
}

.header > nav > .burger-menu__link:first-of-type > .burger-menu__link-item {
	left: 0;
	border-radius: 0 0 3px 0;
}

.header > nav > .burger-menu__link:last-of-type > .burger-menu__link-item {
	right: 200%;
	border-radius: 0 0 0 3px;
}

.header > nav > .burger-menu__link:hover > .burger-menu__link-item {
	display: flex;
	justify-content: flex-start;
	width: 300%;
	height: auto;
	position: relative;
	cursor: pointer;
}

.header > nav > .burger-menu__link > .burger-menu__link-item > a {
	cursor: pointer;
	height: 40px;
	text-decoration: none;
	width: 20%;
	margin: 2%;
	text-align: center;
	background-color: dimgray;
	color: #fbfbfb;
	border-radius: 2px;
	transition: background-color 0.2s ease;
}

.header > nav > .burger-menu__link > .burger-menu__link-item > a:hover {
	filter: brightness(0.6);
	text-decoration: none;
}

@media (max-width: 700px) {
	* {
		margin: 0;
		padding: 0;
	}

	.header {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: cadetblue;
	}

	.burger-menu__button {
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 30;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: cadetblue;
	}

	.burger-menu__button:hover .burger-menu__lines {
		filter: brightness(0.7);
	}

	.burger-menu__lines,
	.burger-menu__lines::after,
	.burger-menu__lines::before {
		position: absolute;
		width: 40px;
		height: 6px;
		background-color: #fff;
	}

	.burger-menu__lines {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.burger-menu__lines::before {
		content: '';
		top: -12px;
	}

	.burger-menu__lines::after {
		content: '';
		top: 12px;
	}

	.burger-menu_active .burger-menu__lines {
		background-color: transparent;
	}

	.burger-menu_active .burger-menu__lines::before {
		top: 0;
		transform: rotate(45deg);
	}

	.burger-menu_active .burger-menu__lines::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.burger-menu__nav {
		padding-top: 100px;
		position: fixed;
		z-index: 20;
		display: flex;
		flex-flow: column;
		height: 100%;
		background-color: #2a2a2a;
		overflow-y: auto;
		left: -100%;
		width: 100%;
	}

	.burger-menu__link-item {
		padding-top: 10px;
		z-index: 20;
		display: none;
		background-color: #2a2a2a;
		overflow-y: auto;
		width: 100%;
		margin-left: 20%;
	}

	.burger-menu__link:hover > .burger-menu__link-item {
		display: flex;
	}

	.header > nav > .burger-menu__link:not(:first-of-type):not(:last-of-type) > .burger-menu__link-item {
		left: 0px;
		border-radius: 0 0 3px 3px;
	}

	.header > nav > .burger-menu__link:first-of-type > .burger-menu__link-item {
		left: 0;
		border-radius: 0 0 3px 0;
	}

	.header > nav > .burger-menu__link:last-of-type > .burger-menu__link-item {
		right: 0%;
		border-radius: 0 0 0 3px;
	}

	.burger-menu_active .burger-menu__nav {
		left: 0;
	}

	.burger-menu__overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
	}

	.burger-menu_active .burger-menu__overlay {
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
